   <h1>Todo List</h1>

            <div ng-repeat="item in items | filter: {task: searchText.search}">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-xs-1"><input type="checkbox" name="" ng-checked="{{item.isCompleted}}"/></div>
                  <div class="col-xs-6"><a ng-href="#/items/view/{{item.id}}">{{item.task}}</a></div>
                  <!-- this adds the unique ID  -->
                  <div class="col-xs-2">{{item.dueDate}}</div>
                  <div class="col-xs-1">{{item.assignedTo}}</div>
                  <div class="col-xs-1"><button class="btn btn-danger" ng-click="itemDelete(item.id)">X</button></div>
                  <div class="col-xs-1"><button class="btn btn-warning" ng-click="itemEditView(item.id)">Edit</button></div></a>

                  <!-- need to hook this up to our controller  -->
                  <!-- ng-click directive for calling a method -->
                  <!-- item.id doesn't need to be the curly bracket -->
                </div>
              </div>
          </div>


<!--           <a ng-href="#/items/edit/{{item.id}}">Edit</button></div></a> -->